
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="footer.css">

    
<footer>
    <div class="footer-left">
        <h3>Vita<span>E-Bikes</span></h3>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            <a href="#">Fietsen</a>
             <a href="#">Over ons</a>
             <a href="#">Contact</a>
          </p>
        <p class="footer-bedrijfsnaam">Vita E-bikes © 2020</p>
        <p></p>
    </div>
    <div class="footer-center">
         <div>
             <i class="fa fa-map-marker"></i>
             <p><span>Hogeschoollaan 0A</span> Noort-brabant, Nederland</p>
         </div>
         <div>
            <i class="fa fa-phone"></i>
            <p>+31 6-12345678</p>
         </div>
         <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@vitabikes.nl">info@vitabikes.nl</a></p>
         </div>
    </div>
    <div class="footer-right">
        <p class="footer-over-ons">
             <span>Over Vita</span>
              Vita e-bikes streeft naar een toegankelijke manier van transport voor iedere laag uit de samenleving om zo bij te kunnen dragen aan een optimale gezondheid.
         </p>
         <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer">English|German

        </div>
    </div>
</footer>